<h1>Welcome to Build-A-Burger!</h1>
<div class="container">
    <div class="row">
        <ul class="col-6">
        {{#each burgers}}
            {{#unless devoured}}
            {{> burgers/burger-block}}
            {{/unless}}
        {{/each}}
        </ul>

        <ul class="col-6">
        {{#each burgers}}
            {{#if devoured}}
            <li>{{burger_name}}</li>
            {{/if}}
        {{/each}}
        </ul>
    </div>
</div>

<form class="build-burger">
    <textarea id="burg"></textarea>
    <button type="submit">Build my burger!</button>
</form>