body {
    background-color: rgb(218, 185, 0);
}

h1 {
    font-family: 'Londrina Solid', cursive;
    font-size: 50px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: scale(.3);
    margin-top: -280px;
    margin-bottom: -300px;
}

.uneaten {
    background-color: green;
    color: rgb(235, 233, 233);
    font-weight: bold;
}

.eaten {
    background-color: rgb(150, 150, 150);
    color: rgba(0, 0, 0, 0.379);
    font-weight: bold;
}

.devour {
    background-color: #FC440F;
    font-weight: bold;
}

.devour:hover {
    background-color: #dc3a0d;
}

button {
    font-weight: bold;
}

#burg {
    width: 25vw;
}