body {
    background-color: rgb(218, 185, 0);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: scale(.3);
    margin-top: -250px;
    margin-bottom: -250px;
}

h1 {
    font-family: 'Londrina Solid', cursive;
    font-size: 50px;
}

li, button {
    font-weight: bold;
}

#burg {
    width: 25vw;
}