<!--This file creates a list item for each burger that gets created along with a devour button, and then is injected into index.handlebars-->
<li class="uneaten">
    {{id}}. {{burger_name}}

    <button class="eat-burger btn devour" data-id="{{id}}" data-burger="{{burger_name}}">DEVOUR BURGER</button>
</li>