<li class="list-group-item font-weight-bold">
    {{burger_name}}

    <button class="eat-burger lg-btn btn-warning font-weight-bold" data-id="{{id}}" data-burger="{{burger_name}}">DEVOUR BURGER</button>
</li>